{% extends 'front.html.twig' %}

{% block content %}
<style>
    .card-spacing {
        margin-bottom: 20px; /* Ajustez cette valeur selon vos besoins */
    }
</style>

    <h1>les famille des parfums</h1>

<div class="row">
    {% for category in categories %}
        <div class="col-md-4">
            <div class="card card-spacing" style="width: 18rem;">
                {% if category.image %}
                    <img class="card-img-top" src="{{ asset(category.image) }}" alt="{{ category.nom }}">
                {% else %}
                    <span>No image available</span>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ category.nom }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <a href="{{ path('app_home2') }}" class="btn btn-primary">voir large choix des parfum</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    
  {% endblock %}