{% extends 'base.html.twig' %}

{% block title %}list_parfums{% endblock %}

{% block body %}
    <h1>List des parfums</h1>
<a class="btn btn-success" href="{{ path('app_parfum_new') }}">Nouveau Parfum</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Qte_stock</th>
                <th>Image</th>
                <th>Volume</th>
                <th>Genre</th>
                <th>Date_creation</th>
                <th>Date_update</th>
                <th>Marque</th>
                <th>categories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parfum in parfums %}
            <tr>
                <td>{{ parfum.id }}</td>
                <td>{{ parfum.nom }}</td>
                <td>{{ parfum.description }}</td>
                <td>{{ parfum.prix }}</td>
                <td>{{ parfum.qteStock }}</td>
                <td>{{ parfum.image }}</td>
                <td>{{ parfum.volume }}</td>
                <td>{{ parfum.genre }}</td>
                <td>{{ parfum.dateCreation ? parfum.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ parfum.dateUpdate ? parfum.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ parfum.marque }}</td>
                <td>{{parfum.category.nom  }}</td>
                <td>
                    {# <button class="btn btn-primary"><a href="{{ path('app_parfum_show', {'id': parfum.id}) }}">show</a></button>
                    <button class="btn btn-primary"><a href="{{ path('app_parfum_edit', {'id': parfum.id}) }}">edit</a></button> #}
                <div class="btn-group" role="group" aria-label="Actions">
                <a class="btn btn-primary" href="{{ path('app_parfum_show', {'id': parfum.id}) }}">Consulte</a>
                <a class="btn btn-warning" href="{{ path('app_parfum_edit', {'id': parfum.id}) }}">Modif</a>
                <a class="btn btn-danger" href="{{ path('app_parfum_delete', {'id': parfum.id}) }}">Supprimer</a>
                </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_parfum_new') }}">Create new</a> #}
{% endblock %}
