{% extends 'front.html.twig' %}

{% block title %}Nos Parfums - Boutique{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-3">
        <h3>Filtrer</h3>
        <p> Colonne de filter</p>
        {{ form(form) }}
     </div>

        <div class="col-md-9">
            <h1 class="text-center my-5">Nos Parfums</h1>

            <div class="container">
                <div class="row">
                    {% for parfum in parfums %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                            
                             {% if parfum.image %}
                             <img class="card-img-top" src="{{ asset(parfum.image) }}" alt="{{ parfum.nom }}">
                             {% else %}
                            <span>No image available</span>
                            {% endif %}

                                <div class="card-body">
                                    <h5 class="card-title">{{ parfum.nom }}</h5>
                                    <p class="card-text"><strong>Catégorie:</strong> {{ parfum.category.nom }}</p>
                                    <p class="card-text">{{ parfum.description }}</p>
                                    <p class="card-text"><strong>Prix:</strong> {{ parfum.prix }}Dt</p>
                                    <p class="card-text"><strong>Volume:</strong> {{ parfum.volume }}ml</p>
                                    <p class="card-text"><strong>Genre:</strong> {{ parfum.genre }}</p>
                                    <p class="card-text"><strong>Marque:</strong> {{ parfum.marque }}</p>
                                    <p class="card-text"><strong>Quantite disponible:</strong> {{ parfum.getQteStock() }}</p>
                                    <a class="btn btn-primary" href="{{ path('product', { 'nom': parfum.nom }) }}">View Details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
