{% extends 'front.html.twig' %}

{% block title %}{{ parfums.nom }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            {% if parfums.image %}
                <img class="card-img-top" src="{{ asset(parfums.image) }}" alt="{{ parfums.nom }}">
         {% else %}
                <span>No image available</span>
                {% endif %}        
        </div>
        <div class="col-md-8">
            <h1>{{ parfums.nom }}</h1>
            <p><strong>Genre:</strong> {{ parfums.genre }}</p>
            <hr>
            <p>{{ parfums.description }}</p>
            <p><strong>Prix:</strong> {{ parfums.prix }}</p>
            <p><strong>Quantité disponible:</strong> {{ parfums.getQteStock() }}</p>
            <p><strong>Volume:</strong> {{ parfums.volume }}</p>
            <p><strong>Marque:</strong> {{ parfums.marque }}</p>
            <p><strong>Famille des parfum:</strong> {{ parfums.category.nom }}</p>

            {% if  parfums.getQteStock() >0 %}
            <a class="btn btn-primary" href="{{ path('cart_add',{id:parfums.id}) }}">Ajouter au panier</a>

            {% else %}
            <p class="text-danger" >Temporairment en rupture de stock</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
